:root {
    --text-primary: rgb(12,25,64);
    --text-white: rgb(250,250,250);
    --bg-light-blue: rgb(234,240,249);
    --bg-dark-blue: rgb(6,18,66);
    --bg-offwhite: rgb(248,248,248);
    --btn-blue: rgb(15,52,201);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
}

/* start container styles */
/* .container {
    max-width: 1850px;
    width: 100%;
    display: flex;
    justify-content: center;
} */
/* end container styles */

/* start header styles */
header {
    background: var(--bg-light-blue);
    padding: 35px 50px;
    width: 100%;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo-container img {
    height: 40px;
    width: 40px;
}
.logo-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    color: var(--text-primary);
    margin-left: 12px;
}
nav a {
    color: rgb(111,125,140);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin: 25px;
}
.login-container a {
    text-decoration: none;
}
.login-container button {
    padding: 20px;
    border-radius: 15px;
    width: 120px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.login-btn {
    background: white;
    color: var(--btn-blue);
    margin-right: 10px;
}
.signup-btn {
    background: var(--btn-blue);
    color: var(--text-white);
}
/* end header styles */

/* start top section top styles */
.top-section {
    background: linear-gradient(var(--bg-light-blue), white);
    padding: 0 50px;
}
.top-section h1 {
    font-size: 100px;
    font-weight: 500;
    color: var(--text-primary);
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}
.top-section a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: default;
}
.top-section a button {
    padding: 27px 35px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: var(--btn-blue);
    color: var(--text-white);
    letter-spacing: 1.1px;
    cursor: pointer;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,.2), 0px 3px 4px 0px rgba(0,0,0,.14), 0px 1px 8px 0px rgba(0,0,0,.12);
}
.top-mockup {
    position: relative;
}
.monitor-container {
    position: relative;
    transform: rotateX(40deg);
    z-index: 10;
    overflow: hidden;
}
.dash-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    z-index: 10;
}
.dash-container img {
    width: 50%;
    z-index: 10;
}
.monitor-bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 16.1%;
    left: 27.2%;
    z-index: 9;
}
.monitor-bg {
    width: 45.7%;
    height: 72.5%;
    z-index: 9;
    background: var(--bg-light-blue);
}
.mockup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 23%;
    left: 27.4%;
    z-index: 10;
}
.mockup-container img {
    width: 45.4%;
    z-index: 10;
}
.keyboard-container {
    display: flex;
    justify-content: center;
    margin-top: -5%;
    z-index: 10;
}
.keyboard-container img {
    width: 50%;
    transform: rotate(352.5deg);
    margin-left:11%;
    z-index: 10;
}
.top-grid-right {
    position: absolute;
    right: 17%;
    top: -2%;
    width: 220px;
    z-index: 1;
}
.top-grid-left {
    position: absolute;
    left: 17%;
    bottom: 27%;
    width: 330px;
    z-index: 1;
}
/* end top section top styles */

/* start top section bottom styles */
.top-section-bottom {
    background: white;
    height: 1000px;
    padding: 0 50px;
    margin-top: 80px;
}
.making-smart-top {
    display: flex;
}
.piggy-column-top {
    position: relative;
    width: 25%;
}
.piggy-container {
    position: absolute;
    right: 20%;
    top: 0;
    z-index: 10;
}
.piggy {
    height: 165px;
    width: 165px;
    z-index: 10;
}
.piggy img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 10;
}
.houses {
    height: 95px;
    width: 95px;
    margin-top: 225px;
    z-index: 10;
}
.houses img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 10;
}
.piggy-grid {
    position: absolute;
    top: 18%;
    left: 3%;
    z-index: 1;
    width: 220px;
}
.making-smart-title {
    display: flex;
    justify-content: center;
    width: 50%;
}
.making-smart-title h2 {
    font-size: 60px;
    font-weight: 400;
    color: var(--text-primary);
    text-align: center;
    width: 90%;
    margin-top: 150px;
}
.looking-tablet-container {
    position: relative;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.looking-tablet {
    width: 250px;
    height: 250px;
    z-index: 10;
}
.looking-tablet img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 10;
}
.looking-tablet-grid {
    position: absolute;
    width: 220px;
    left: 5%;
    top: -40%;
    z-index: 1;
}
/* end top section bottom styles */


/* start plus icon grid styles */
.grid-row {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin: 27px 0;
}
.grid-row img {
    height: 28px;
    width: 28px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid4 {
    width: 25%;
}
.grid6 {
    width: 16.667%;
}
.grid8 {
    width: 12.5%;
}
/* end plus icon grid styles */

/* start media queries */
@media screen and (min-width: 1280px) {
    /* .container {
        max-width: 1280px;
    } */
}
/* end media queries */
